*.iml
.gradle
/local.properties
/.idea/
.idea/
.DS_Store
/build
build/
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/

# Built binaries & release packages
*.apk
*.aab
/app/release/
release/

# Signing keys & keystores
/keystore/
keystore/
*.jks
*.keystore
